__pycache__/
*.py[cod]
*.pyo

backend/db.sqlite3

backend/**/migrations/
backend/**/__pycache__/
backend/**/migrations/__pycache__/
backend/**/migrations/*.pyc

backend/venv/

.env
.env.*
**/.env

*.log

frontend/node_modules/
frontend/.next/
frontend/out/

frontend/.env
frontend/.env.local


frontend/package-lock.json

.vscode/

celerybeat-schedule
*.pid
redis_data/
